<div class="wrap">
  <h2>Отзыв о курсе и преподавателе</h2>
  <p>Курс интересный и интенсивный. Много практических задач.</p>
  <p>Пеподаватель: Станислав Павенко. Хороший человек, интересный преподаватель, хорошо подает материал. Не бросает студентов с проблемой.</p>
</div>
<div class="wrap">
  <p>Мне курс был полезен, т.к. я стажер и мне нужно много практики, чтобы быстрее вырости из стажера. Хоть и делал задания медленно.
    Курс дал базовые знания с помощью которых можно в дальнейшем глубже изучать Angular</p>
  <p>Без курса мне пришлось бы затратить значительно больше времени чем с курсом</p>
</div>
<div class="wrap">
  <p>Вообще все темы были интресными т.к. узнал много интресных возможностей у angular. Больше всего понравилось это 	одностороннее и двухстороннее связывание, пайпы, роуты</p>
</div>
<div class="wrap">
  <p>Когда только начинаешь изучать что-то новое всегда сложно, не понятно и тратишь много времени.</p>
  <p>Были задачи и темы за рамками курса. задачи отображались символом *</p>
</div>
<div class="wrap">
  <p>Затрудняюсь ответить, что бы могло улучшить курс...</p>
</div>
