<div class="wrap">
    <h1 class="title">Отзыв о курсе и преподавателе</h1>
    <h3 class="subtitle">Курс интересный и интенсивный. Много практических задач. Для меня курс был сложноват, но я считаю с практикой все измениться! Курс большой,  пройденно много тем.
      В ангуляре мне понравилось, что можно сразу вешать слушателей на элемент, можно группировать компоненты и шаблоны в одном модуле тем самым считаю, что это очень гибко, тк. все собирается в одном файле.
      Ведь с помощью фреймворка Angular мы разрабатываем наше одностраничное приложение или по другому Single Page Application. Большая функциональность, есть такие вещи как гарды и роуты.</h3>
    <h3>Преподаватель: Станислав Павенко. Интересный преподаватель, хорошо подает материал. Не бросает студентов с проблемой. Эрудированный и просто хороший человек!))</h3>
    <p>Мне курс был полезен, т.к. я стажер и мне нужно много практики, чтобы быстрее вырасти из стажера. Хоть и делал задания медленно. Курс дал базовые знания с помощью которых можно в дальнейшем глубже изучать Angular. Так как на Angular пишут на языках javascript и typescript, стал больше изучать typescript.</p>
    <p>Без курса мне пришлось бы затратить значительно больше времени чем с курсом.</p>
    <p>Вообще все темы были интересными т.к. узнал много интересных возможностей у angular. Больше всего понравилось это одностороннее и двухстороннее связывание, пайпы, роуты.</p>

    <p>Когда только начинаешь изучать что-то новое всегда сложно, не понятно и тратишь много времени.</p>
    <p>Были задачи и темы за рамками курса. задачи отображались символом *</p>

    <p>Затрудняюсь ответить, что бы могло улучшить курс...</p>

</div>

