<h2 mat-dialog-title>Создать новый issue</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="issueSendForm">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Добавить заголовок</mat-panel-title>
        </mat-expansion-panel-header>
          <input type="text" formControlName="title" />
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
      </mat-expansion-panel>
    </mat-accordion>
    <div style="display:flex; flex-direction: column;">
      <label>Добавить описание</label>
      <input type="text" formControlName="body" />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="resetForm()">Очистить</button>
  <button mat-button mat-dialog-close>Отмена</button>

  <button
    mat-raised-button
    color="primary"
    (click)="send()"
    mat-dialog-close
    cdkFocusInitial
  >
    Сохранить
  </button>
</mat-dialog-actions>
