<button mat-fab style="margin: 5px" color="basic" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
<button mat-fab style="margin: 5px" color="warn" (click)="refresh()">
  <mat-icon>refresh</mat-icon>
</button>
<mat-table *ngIf="dataSource" [dataSource]="dataSource" multiTemplateDataRows>
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef>id</th>
    <td mat-cell *matCellDef="let element">
      {{ element.get("number").value }}
    </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>Статус</th>
    <td mat-cell *matCellDef="let element">
      {{ element.get("state").value }}
    </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef>время создания</th>
    <td mat-cell *matCellDef="let element">
      {{ element.get("created").value | date: "dd.MM.yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Название</th>
    <td mat-cell *matCellDef="let element">
      {{ element.get("title").value }}
    </td>
  </ng-container>

  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef>
      ссылка на issues<br />
      in github
    </th>
    <td mat-cell *matCellDef="let element">
      <a target="_blank" [href]="element.value.url"
        ><svg version="1.1" width="50" height="50" viewBox="0 0 16 16" class="octicon octicon-mark-github" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
      </a>
    </td>

  </ng-container>

  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef>
      профиль пользователя<br />
      создавшего обращение
    </th>
    <td mat-cell *matCellDef="let element">
      <div style="display: flex">
        <a target="_blank" [href]="element.value.link"
          ><img class="user_img" width="50" src="../../assets/user.jpeg"
        /></a>
        <button
          mat-fab
          style="margin: 5px"
          color="basic"
          (click)="replayDialog(element.value.number)"
        >
          <mat-icon>replay</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <form [formGroup]="form">
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [formGroup]="element"
        [attr.colspan]="displayedColumns.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div class="example-element-weight">
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="body"
            /></mat-form-field>
          </div>
        </div>
      </td>
    </ng-container>
  </form>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: displayedColumns"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
</mat-table>
